@use "./../utils/colors" as color;

.calculator__output {

  width: 100%;

  input {
    width: 100%;
    font-family: "League Spartan", sans-serif;
    background-color: color.$veryDarkDesaturatedBlue3;
    border: none;
    border-radius: 8px;
    text-align: right;

    color: color.$white1;
    font-size: 1.3rem;
    padding: 25px 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 640px) {
      font-size: 1.7rem;
      padding: 40px 33px 38px 33px;
    }

    &::placeholder {
      color: color.$veryDarkGrayishBlue;
    }
  }
}

.second-theme {
  input {
    color: color.$veryDarkGrayishYellow;
    background-color: color.$veryLightGray;
  }
}

.third-theme {
  input {
    color: color.$lightYellow;
    background-color: color.$veryDarkViolet2;
  }
}