@use "./../utils/colors" as color;
@use "./../utils/mixins" as mix;


.second-theme {

  .calculator__controls {
    background-color: color.$grayishRed;

    button {
      color: color.$veryDarkGrayishYellow;
      background-color: color.$lightGrayishYellow;
      @include mix.keyShadow(color.$darkGrayishOrange);


      &.remover {
        background-color: color.$darkModerateCyan;
        color: color.$white2;
        @include mix.keyShadow(color.$veryDarkCyan);
      }
  
      &.calculate {
        color: color.$white2;
        background-color: color.$orange;
        @include mix.keyShadow(color.$darkOrange);
      }
    }
  }
}

.third-theme {

  .calculator__controls {
    background-color: color.$veryDarkViolet2;

    button {
      color: color.$lightYellow;
      background-color: color.$veryDarkViolet;
      @include mix.keyShadow(color.$darkMagenta);


      &.remover {
        background-color: color.$darkViolet;
        color: color.$white3;
        @include mix.keyShadow(color.$vividMagenta);
      }
  
      &.calculate {
        color: color.$veryDarkBlue;
        background-color: color.$pureCyan;
        @include mix.keyShadow(color.$softCyan);
      }
    }
  }
}



.calculator__controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 17px 13px;
  border-radius: 8px;
  padding: 24px 24px 28px 24px;;
  background-color: color.$veryDarkDesaturatedBlue2;

  button {
    font-family: 'League Spartan', sans-serif;
    // width: 60px;
    height: 60px;
    font-size: 1rem;
    color: color.$veryDarkGrayishBlue;
  
    padding: 8px 0 0 0;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    border: navajowhite;
    @include mix.keyShadow(color.$grayishOrange);
  
    cursor: pointer;
  
    &:active, &.remover:active, &.calculate:active  {
      box-shadow: none;
      transform: translateY(3px);
    }

    &.remover {
      text-transform: uppercase;
      font-size: 19px;
      background-color: color.$desaturatedDarkBlue1;
      color: color.$white1;
      @include mix.keyShadow(color.$desaturatedDarkBlue2);
      padding-top: 3px;
    }

    &.calculate {
      font-size: 19px;
      color: color.$white1;
      background-color: color.$red;
      @include mix.keyShadow(color.$darkRed);
      padding-top: 3px;
    }

  }

  &__btn__reset {
    grid-column: 1 / 3;
  }

  &__btn__equals {
    grid-column: 3 / 5;
  }
}

