@use "./../utils/colors" as color;

footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  // background-color: color.$veryDarkDesaturatedBlue3;
  padding: 16px 16px 5px 16px;

  p {
    margin: 0;
  }

  a { 
    text-decoration: none;
    color: color.$red; 
    &:hover { color: color.$Bittersweet; }
  }
}


.second-theme {
  a { 
    color: color.$orange;
    &:hover { color: color.$mangoTango; }
  }
}

.third-theme {
  a { 
    text-decoration: none;
    color: color.$pureCyan; 
    &:hover { color: color.$waterspout; }
  }
}