@use 'variables' as var;
@use 'config' as config;

body {
  font-family: 'League Spartan', sans-serif;
  background-color: cornflowerblue;
  font-size: 1rem;
}

h1 {
  color: rgb(243, 243, 243);
  border: 5px solid pink;
  display: inline-block;
  padding: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}